<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
<parameter name="browser" value="Firefox"></parameter>
  <test  name="Test" thread-count="5" parallel="methods">
  
  <groups>
  <run><include name="sanity"/>
		<include name="regression"/>  
  </run>
  </groups>
  
    <classes>
      <class name="NewTestng"/>
      <class name="PrallelTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
